*{
	box-sizing: border-box;
	margin: 0;
	padding:0;
}

body{
	margin: 0;
}

header{

	background-image: linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.8)), url("images/banner.jpg");	
	position: relative;
	width: 100%;
	height: 500px;

}
nav a{
	text-decoration: none;
	color: white;
	margin-right: 20px;
}
nav{
	text-align: right; 
    padding: 20px 0;
    width: 90%;
    margin:auto;
    overflow: hidden;
}
.topnav .icon {
  display: none;
}
nav a:nth-child(1){
	float: left;
}
nav:after{
  content:"";
  background-color:white;
  width:90%;
  height:1px;
  left:50%;
  position:absolute;
  top: 60px;
  transform:translate(-50%); 
}
.content h2,.write-us h2{
	color:white;
	font-weight: 800;
	padding-top: 100px;
	padding-bottom: 50px;
}
.demo{
	color: white;
}
.content{
	text-align: center;
}
i{
	color: green;
	font-size: 40px;
}
.demo div{
	display: inline-block;
	
	width: 25%;
	margin: auto;
	border-right: 1px solid grey;	
}
.demo div:last-child{
	border-right: none;

}
button{
	color: green;
	background: transparent;
	border: 1px solid green;
	height: 40px;
	width: 20%;
	margin-top: 50px;
	border-radius: 25px;
}
button:hover{
	background-color: green;
	color: white;
}
.mid{
	text-align: center;
	width: 75%;
	margin: auto;
}
.mid img{
	border-radius: 50%;

}
.mid div{
	display: inline-block;
	width: 40%;
	padding-top: 50px;
}

.mid h2{
	padding-top: 30px;
}
.mid p{
	padding-top: 20px;
}
.mid button{
	margin-top: 30px;
	width: 40%;
	border: 2px solid;
}
.write-us{
	background-color:#31C27F  ;
	margin-top: 60px;
	height: 500px;
}
.write-us h2{
	padding-top: 30px;
	text-align: center;
}
textarea{
  
  background:transparent;
  border: 1px solid white;
  border-radius: 5px;	
  width: 100%;
  height: 100px;
  margin: auto;
  outline: none;

}
form{
	width: 60%;
	margin: auto;
	text-align: center;
}
form .name{
	display: inline;
}
input{
	width: 44%;
	outline: none;
}
form p{
	color: white;
	font-size: 18px;
	text-align: left;
	padding-top: 10px;
}
input{
	width: 100%;
	height: 25px;
	border-radius: 5px;
	background-color: transparent;
	border:1px solid white;
	}
form button{
	width: 200px;
	margin-top: 20px;
	color: white;
	border:2px solid white;
	
}
::placeholder{
	color:red;
	font-size: 15px;
	color: white;
    padding-left: 10px; 
}


@media only screen and (max-device-width: 480px) {
	.demo div{
		display: block;
		margin: auto;
		border-right: none;
	}

	header{
		height: 700px;
	}
	.mid div{
		display: block;
		width: 50%;
		margin: auto;

	}
	.mid{
		text-align: center;
		width: 100%;
		margin: 0;

	}
	.mid button{
		width: 50%;
	}
	
	
.topnav a:not(:first-child) {display: none;
margin-top: 40px;}
 
.topnav a.icon {
    display: inline-block;
    margin-top: 0px;
  }


   .topnav.responsive {position: relative;}
  .topnav.responsive .icon {
    position: absolute;
    display: none;
  }
  .topnav.responsive a {
    display: block;
   
  }
}


@media only screen and (min-device-width: 480px) and (max-device-width: 768px)
{
	.demo div
	{
		width: 30%;
		margin: 0px;

	}
	header{
		height: 500px;
	}
	.mid div{
		display: block;
		width: 50%;
		margin: auto;

	}
	.mid{
		text-align: center;
		width: 100%;
		margin: 0;

	}
	.mid button{
		width: 50%;
	}

.topnav a:not(:first-child) {display: none;
margin-top: 40px;}
 
.topnav a.icon {
    display: inline-block;
    margin-top: 0px;
  }


   .topnav.responsive {position: relative;}
  .topnav.responsive .icon {
    position: absolute;
    display: none;
  }
  .topnav.responsive a {
    display: block;
    text-align: center;
   
  }
}


